<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="CloudinaryDotNet" version="1.0.30" targetFramework="net452" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
</packages>